<head>
  <title>Resume</title>
</head>
<body>
<h1 class="heading">Resume</h1>
<hr>

<div class="resume-section">
  <!-- Experience Section -->
  <div class="timeline">
    <div class="block-title">
      <h3>Experience</h3>
    </div>

    <div class="block">
      <!-- First Experience Timeline Item -->
      <div class="timeline-item">
        <div class="left-part">
          <h5 class="item-period">2024 - Now</h5>
          <span class="item-company">Banca Intesa</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Dev Ops Engineer & Full-Stack developer</h4>
          <div class="text">
            <p>Leveraging a tech stack that includes C# .NET, Angular, MySQL, and Microsoft Azure Pipelines, I have enhanced the existing automated
              Azure pipeline deployment system to support additional components, such as RDLs, SQL database scripts.</p>
            <p>To reduce repetitive tasks, constructed an automated emailing system for deployment notifications.
            <p>Additionally, I developed a web application to schedule and organize
              tasks across the department, replacing an outdated system and significantly improving team efficiency.</p>
          </div>
        </div>
      </div>
      <!-- Second Experience Timeline Item -->
      <div class="timeline-item">
        <div class="left-part">
          <h5 class="item-period">2023</h5>
          <span class="item-company">Ingram Micro</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Cisco CCNA Internship</h4>
          <div class="text">
            <p>Gained hands-on experience with network infrastructure by configuring routers, creating pathways, and setting up
              gateways within simulated environments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Education Section -->
  <div class="timeline">
    <div class="block-title">
      <h3>Education</h3>
    </div>

    <div class="block">
      <!-- First Education Timeline Item -->
      <div class="timeline-item">
        <div class="left-part">
          <h5 class="item-period">2023 - Now</h5>
          <span class="item-company">Masters Degree</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">RAF - School of Computing</h4>
          <div class="text">
            <p></p>
          </div>
        </div>
      </div>
      <!-- Second Education Timeline Item -->
      <div class="timeline-item">
        <div class="left-part">
          <h5 class="item-period">2019 - 2023</h5>
          <span class="item-company">Bachelors Degree</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">RAF - School of Computing</h4>
          <div class="text">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="block-title">
    <h3>Skills</h3>
  </div>
  <br>
  <div class="skills-section">
    <div class="skills-container">
      <div class="skills-card">
        <h3>Languages</h3>
        <p>Java, C#, JavaScript, TypeScript, SQL, HTML5, CSS3, Kotlin, Python</p>
      </div>

      <div class="skills-card">
        <h3>Frameworks and Technologies</h3>
        <p>Angular, Spring, Docker, Kubernetes, Git, Node, MySQL, MongoDB, MariaDB, Vue, Jetpack Compose, Figma</p>
      </div>
    </div>
  </div>


</div>

</body>
