<head>
  <title>Resume</title>
</head>
<body>
<h1 class="heading">Resume</h1>
<hr>

<div class="resume-section">
  <!-- Experience Section -->
  <div class="timeline">
    <div class="block-title">
      <h3>Experience</h3>
    </div>

    <div class="block">
      <!-- First Experience Timeline Item -->
      <div class="timeline-item" id="timeline-2016-current">
        <div class="left-part">
          <h5 class="item-period">2024 - Now</h5>
          <span class="item-company">Banca Intesa</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Dev Ops Engineer & Full-Stack developer</h4>
          <div class="text">
            <p>It's just an investment concern, but it's an element that the lacinia is. To put the eleifend trisque.
              But
              the life of God is not great.</p>
          </div>
        </div>
      </div>
      <!-- Second Experience Timeline Item -->
      <div class="timeline-item" id="timeline-2013-2016">
        <div class="left-part">
          <h5 class="item-period">2023</h5>
          <span class="item-company">Ingram Micro</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">Cisco CCNA Internship</h4>
          <div class="text">
            <p>Maecenas time to enjoy the makeup. You need some football. For the sake of life there is no sadness, to
              decorate the trigger, free homework.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Education Section -->
  <div class="timeline">
    <div class="block-title">
      <h3>Education</h3>
    </div>

    <div class="block">
      <!-- First Education Timeline Item -->
      <div class="timeline-item" id="timeline-2019">
        <div class="left-part">
          <h5 class="item-period">2023 - Now</h5>
          <span class="item-company">Masters Degree</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">RAF - School of Computing</h4>
          <div class="text">
            <p>Maecenas did not have to pay for the ends. As a developer and some team members. Phasellus sed mauris
              hendrerit, laoreet sem in, lobortis ante.</p>
          </div>
        </div>
      </div>
      <!-- Second Education Timeline Item -->
      <div class="timeline-item" id="timeline-2023">
        <div class="left-part">
          <h5 class="item-period">2019 - 2023</h5>
          <span class="item-company">Bachelors Degree</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
          <h4 class="item-title">RAF - School of Computing</h4>
          <div class="text">
            <p>Some of the tincidunts have been targeted by the macro life. In eu turpis aculis, feugiat risus quis,
              aquiet urn. Everyone's soft smile, football pillow pain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="block-title">
    <h3>Skills</h3>
  </div>
  <br>
  <div class="skills-section">
    <div class="skills-container">
      <div class="skills-card">
        <h3>Languages</h3>
        <p>Java, C#, JavaScript, TypeScript, SQL, HTML5, CSS3, Kotlin, Python</p>
      </div>

      <div class="skills-card">
        <h3>Frameworks and Technologies</h3>
        <p>Angular, Spring, Docker, Kubernetes, Git, Node, MySQL, MongoDB, MariaDB, Vue, Jetpack Compose, Figma</p>
      </div>
    </div>
  </div>


</div>

</body>
