<head>
  <title>Portfolio-Item</title>
</head>
<body>
<h1 class="heading">{{portfolioItem?.title}}</h1>

<div class="carousel-and-description">

  <button class="close-button" (click)="router.navigate([''])">&#10006;</button> <!-- HTML character for 'X' -->

  <div (mouseover)="buttonsVisible=false" (mouseout)="buttonsVisible=true" class="carousel-container">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let slide of this.portfolioItem.imageUrls; let i = index" [ngClass]="{ 'active': i === currentSlideIndex }">
        <img [src]="slide" [alt]="slide" />
      </div>
    </div>

    <button [hidden]="buttonsVisible" class="prev" (click)="moveSlide(-1)">&#10094;</button>
    <button [hidden]="buttonsVisible" class="next" (click)="moveSlide(1)">&#10095;</button>

    <div class="carousel-dots">
      <span *ngFor="let slide of this.portfolioItem.imageUrls; let i = index" class="dot" [ngClass]="{ 'active': i === currentSlideIndex }" (click)="goToSlide(i)"></span>
    </div>
  </div>

  <div class="description-container">
    <h3 class="description-title">Description</h3>
    <ul class="description-list">
      <li><i class="fas fa-user listIcon"></i> Luka</li>
      <li><i class="fas fa-globe listIcon"></i> <a href="{{portfolioItem?.linkUrl}}">{{portfolioItem?.linkUrl}}</a></li>
      <li><i class="fas fa-calendar-alt listIcon"></i> {{portfolioItem?.date}}</li>
    </ul>

    <br>
    <h3 class="technology-title">Technology</h3>
    <ul class="technology-list">
      <li *ngFor="let tech of portfolioItem?.technologies">{{ tech }}</li>
    </ul>
  </div>
</div>

<p class="project-description">{{portfolioItem?.description}}</p>


</body>
