<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
        type="text/css">
  <title>About</title>
</head>
<body>
<div class="section-content">
  <div class="about-container">
    <div class="row">
      <div class="profile-image">
        <img src="assets/main_image.jpg" alt="Luka Jeremic"/>
      </div>
      <div class="big-block">
        <div class="hp-text-block" style="width: 80%">
          <div #animatedText class="animated-text">{{jobTitle}}</div>
          <h2 class="hp-main-title">Luka Jeremić</h2>
          <p>Hi! I'm Luka, a Software Developer with a passion for creating impactful, applications.
            Skilled in TypeScript, Java, C family languages, and full-stack development.</p>
          <p>Beyond my technical skills, I’m dedicated to continuous learning in a fast-paced tech landscape, staying current with new tools, trends,
            and methodologies. Every project is an opportunity to innovate and grow both
            individually and collaboratively.</p>
          <div class="hp-buttons" style="cursor: pointer">
            <a (click)="viewCv()" class="btn btn-primary">View CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-i-do">
    <h3>What I Do</h3>
    <div>
      <div class="service">
        <a><i class="fa-solid fa-code logos"></i></a>
        <div class="inner-service">
          <h4>Programmer</h4>
          <p>I've always been fascinated by computers, and programming provided the perfect bridge to combine my passion
            with my love for creating and building. I couldn’t settle on just one domain, so I explored a bit of everything—from data
            structures to web and mobile development. This curiosity has made me a versatile developer with a well-rounded skill set.</p>
        </div>
      </div>
      <div class="service">
        <a><i class="fa-solid fa-laptop-code logos"></i></a>
        <div class="inner-service">
          <h4>Fullstack</h4>
          <p>While I enjoy all aspects of programming, full-stack development is my favorite. It’s the ideal blend of complex backend and server work,
            coupled with crafting a polished, user-friendly UI. Throughout my studies and career, I’ve honed my skills in full-stack development,
            making it my strongest area and the one I’m most passionate about.</p>
        </div>
      </div>
      <div class="service">
        <a><i class="fa-solid fa-network-wired logos"></i></a>
        <div class="inner-service">
          <h4>Dev Ops</h4>
          <p>I've gained extensive knowledge in DevOps through my experience supporting a large, interconnected banking system.
            Primarily working within a Microsoft environment using Azure and pipelines,
            I also have hands-on experience with Kubernetes, enhancing my ability to support robust, scalable infrastructure.</p>
        </div>
      </div>
<!--      <div class="service">-->
<!--        <a><i class="fa-solid fa-palette logos"></i></a>-->
<!--        <div class="inner-service">-->
<!--          <h4>UI/UX</h4>-->
<!--          <p>I believe a well-designed interface is essential for an excellent user experience—after all, who hasn’t felt-->
<!--            frustrated by a slow or clunky UI? My full-stack background provides a unique perspective on UI/UX,-->
<!--            allowing me to balance technical constraints with creative possibilities to create smooth, intuitive designs.</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

  <div class="owl-carousel-wrapper">
    <div class="owl-carousel owl-theme">
      <div class="item"><i class="fa-brands fa-angular carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-java carousel-item"></i></div>
      <div class="item"><i class="fa-solid fa-c carousel-item"></i> <i class="fa-solid fa-hashtag carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-js carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-docker carousel-item"></i></div>
      <div class="item"><i class="fa-solid fa-database carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-github carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-vuejs carousel-item"></i></div>
      <div class="item"><i class="fa-brands fa-android carousel-item"></i></div>
    </div>
  </div>


</div>

</body>
