html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-content {
  background-color: white
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  background-color: rgba(245, 245, 245, 0.44);
}

.row {
  display: flex;
  width: 100%;
}

.profile-image img {
  width: 45vw;
  height: 550px;
  margin-bottom: -7px;
  object-fit: cover;
}

.hp-text-block {
  padding-top: 70px;
  padding-left: 100px;
}

.hp-text-block div{
  font-size: 16px;
  margin-bottom: -1px;
  color: gray;
}

.hp-main-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.what-i-do {
  margin-top: 50px;
  margin-left: 100px;
}

.what-i-do h3 {
  font-size: 24px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.profile-image {
  width: 1200px;
}

.logos{
  margin-top: 12px;
  font-size: 45px;
  color: gray;
}

.service {
  padding: 20px;
  margin-right: 5%;
  display: flex;
}

.inner-service {
  margin-left: 35px;
  font-size: 16px;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
}

.service h4 {
  font-size: 22px;
  margin: 0 0 10px;
}

.service p {
  color: #666;
}

body {
  font-family: 'Poppins', sans-serif;
}

.hp-buttons a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.hp-buttons .btn-primary {
  border-color: cornflowerblue;
  color: cornflowerblue;
  background-color: transparent;
  margin-right: 5px;
}

.hp-buttons .btn-primary:hover {
  background-color: cornflowerblue;
  color: white;
}

.hp-buttons .btn-secondary {
  border-color: gray;
  color: gray;
  background-color: transparent;
}

.hp-buttons .btn-secondary:hover {
  background-color: gray;
  color: white;
}

.owl-carousel-wrapper {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
}

.owl-carousel {
  max-width: 90%;
  width: 100%;
}

.owl-carousel .item {
  text-align: center;
}

.carousel-item {
  font-size: 75px;
  color: #444444;
}

.animated-text {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Smooth transition over 0.5s */
}
